**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/TestResults
**/*.user
**/*.suo
**/.env
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/*.secret.json
**/Schema.pdf
**/README.md
